 <div id="newemp">
      <h2 class="alert-warning">Add New Employee Details</h2><hr>

        <table class="table table-bordered" style="width: 60%">
       <tr><th> Name:</th><td><input type="text" maxlength="30" name="e2" id="ename_new"/><div id="new1"></div></td></tr>
        <tr><th>  Age:</th><td><input type="text" maxlength="30" name="e3" id="age_new" /><div id="new2"></div></td></tr>
       <tr><th>  Email id:</th><td><input type="text" maxlength="30" name="e4" id="email_new"/><div id="new3"></div></td></tr>
        <tr><th> Mobile No:</th><td><input type="text" maxlength="30" name="e5" id="mob_new"/><div id="new4"></div></td></tr>
        <tr><th> Designation:</th><td><input type="text" maxlength="30" name="e6" id="designation_new"/><div id="new5"></div></td></tr>
        <tr><th> Department:</th><td><select name="e7" id="dropdepartment1"></select>
        </td></tr>

        </table>
      <span class="btn btn-primary" ><a href="#/employee_list/" style="color: #ffffff" >BACK</a></span>
    <span class="btn btn-primary"><a href="#/add_employee/" style="color:#ffffff">ADD</a></span>
     <span class="btn btn-primary"><a href="#/new_employee/new/0/" style="color:#ffffff">RESET</a></span>
     <div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;"><img src='{{ STATIC_URL }}images/demo_wait.jpg' width="64" height="64" /><br>Loading..</div>
</div>
 <div id="newerror" style="display: none"><pre class="alert-info">
        Currently There are no department.
         <span class="btn btn-primary"> <a href="#/department_list">>>First add department<<</a></span>
    </pre> </div>