 <div id="employeelist" >
    <h2 class="alert-warning">List of Employees</h2>
    <table class="table table-bordered" id="emp_list1">
            <tr>

                <th>Name</th>
                <th>Age</th>
                <th>Email_id</th>
                <th>Mob_no</th>
                <th>Designation</th>
                 <th>Department</th>
                <th>View details</th>
                <th>Edit Record</th>
                 <th>Delete Record</th>
            </tr>
    </table>
        <span class="btn btn-primary" ><a href="#/employee_list/" style="color: #ffffff" >BACK</a></span>
    <span class="btn btn-primary"><a href="#/new_employee/new/0/" style="color:#ffffff">ADD New Employee</a></span>
     <div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;"><img src='{{ STATIC_URL }}images/demo_wait.jpg' width="64" height="64" /><br>Loading..</div>
 </div>