<div id="viewemployee">
         <h2 class="alert-warning" id="viewemp"></h2><hr>

    <table class="table table-striped" id="viewtable" border="1" style="width: 60%">
        <tr></tr><tr></tr>
        <tr><th>Name</th><th id="ename2"></th></tr>
        <tr><th>Age</th><th id="age2"></th></tr>
        <tr><th>Email id</th><th id="email2"></th></tr>
        <tr><th>Mobile No</th><th id="mob2"></th></tr>
        <tr><th>Designation</th><th id="designation2"></th></tr>
        <tr><th>Department</th><th id="department2"></th></tr>
    </table>
     <span class="btn btn-primary" ><a href="#/employee_list/" style="color: #ffffff" >BACK</a></span>
    <div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;"><img src='{{ STATIC_URL }}images/demo_wait.jpg' width="64" height="64" /><br>Loading..</div>
    </div>